{% for x in usuarios %}
<tr>
    <td>{{ x.nombre_usuario }}</td>
    <td>{{ x.apellido_usuario }}</td>
    <td>{{ x.correo }}</td>
    <td>{{ x.fk_id_rol.nombre_rol }}</td> <!-- CORREGIDO -->
    {% if x.u_is_active == 1 %}
    <td>Activo</td>
    {% endif %}
    {% if x.u_is_active == 0 %}
    <td>Desactivado</td>
    {% endif %}
    <td class="d-flex align-items-center justify-content-center">
        {% if x.u_is_active == 1 %}
        <button type="button" hx-get="{% url 'ua_desactivar_usuario' x.id_usuario %}" hx-target="#dialog"
            class="btn btn-primario">
            Desactivar
        </button>
        {% endif %}
        {% if x.u_is_active == 0 %}
        <button type="button" hx-get="{% url 'ua_activar_usuario' x.id_usuario %}" hx-target="#dialog"
            class="btn btn-primario" style="margin-left: 5px;">
            Activar
        </button>
        {% endif %}
        {% if x.row_status == 1 %}
        <button type="button" hx-get="{% url 'ua_eliminar_usuario' x.id_usuario %}" hx-target="#dialog"
            class="btn btn-secundario" style="margin-left: 5px;">
            Eliminar
        </button>
        {% endif %}
        <a href="{% url 'modificar_usuario' x.id_usuario %}" style="margin-left: 5px;">
            <button type="button" class="btn btn-primario ">
                Modificar
            </button>
        </a>
        <button type="button" hx-get="{% url 'ua_mod_rol' x.id_usuario %}" hx-target="#dialog" class="btn btn-secundario" style="margin-left: 5px;">
            Modificar Rol
        </button>
    </td>
</tr>

{% endfor %}