{% for x in usuarios %}
<tr>
    <td>{{ x.nombre_usuario }}</td>
    <td>{{ x.apellido_usuario }}</td>
    <td>{{ x.correo }}</td>
    <td>{{ x.fk_id_rol.nombre_rol }}</td> <!-- CORREGIDO -->
    {% if x.u_is_active == 1 %}
    <td>Activo</td>
    {% endif %}
    {% if x.u_is_active == 0 %}
    <td>Desactivado</td>
    {% endif %}
    <td>
        {% if x.u_is_active == 1 %}
        <button type="button" hx-get="{% url 'ua_desactivar_usuario' x.id_usuario %}" hx-target="#dialog"
            class="btn btn-primary">
            Desactivar
        </button>
        {% endif %}
        {% if x.u_is_active == 0 %}
        <button type="button" hx-get="{% url 'ua_activar_usuario' x.id_usuario %}" hx-target="#dialog"
            class="btn btn-primary">
            Activar
        </button>
        {% endif %}
        {% if x.row_status == 1 %}
        <button type="button" hx-get="{% url 'ua_eliminar_usuario' x.id_usuario %}" hx-target="#dialog"
            class="btn btn-primary">
            Eliminar
        </button>
        {% endif %}
        <a href="{% url 'modificar_usuario' x.id_usuario %}">
            <button type="button" class="btn btn-primary">
                Modificar
            </button>
        </a>
        <button type="button" hx-get="{% url 'ua_mod_rol' x.id_usuario %}" hx-target="#dialog" class="btn btn-primary">
            Modificar Rol
        </button>
    </td>
</tr>

{% endfor %}