<div class="modal-content">
    <!-- Contenido de la modal -->
    <div class="modal-header">
        <h5 class="modal-title">Modificar estado pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <p>Seleccione un estado</p>
            </div>
            <div class="col">
                <form hx-post="{% url 'modificar_estado' id_pedido %}" method="POST" enctype="multipart/form-data"
                    name="formeditusu" id="formeditusu">
                    {% csrf_token %}
                    <select name="estado" id="estado" class="form-select text-capitalize">
                        <option disabled value="">Seleccione un estado</option>
                        {% for estado in estado %}
                        {% if estado.id_estado == id_estado %}
                        <option value="{{ id_estado }}" selected>{{ estado.estado }}</option>
                        {% else %}
                        <option value="{{ estado.id_estado}}">{{ estado.estado }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span id="grupo-id"></span>
        <button type="button" class="btn btn-secundario" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primario" id="btn-salir">Cambiar</button>
    </div>

</div>