<div class="modal-content">
    <!-- Contenido de la modal -->
    <div class="modal-header">
        <h5 class="modal-title">Desactivar producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>¿Estás seguro que deseas desactivar este producto?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" hx-get="{% url 'desactivar_producto' producto.id_producto %}" class="btn btn-danger" id="btn-salir">Desactivar</button>
    </div>
</div>