<div class="modal-content">
    <!-- Contenido de la modal -->
    <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">Desactivar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Estas seguro de que quieres desactivar a este usuario?</p>
    </div>
    <div class="modal-footer">
        <span id="grupo-id"></span>
        <button type="button"  class="btn btn-secondary close" data-dismiss="modal">Cerrar</button>
        <button type="button" hx-get="{% url 'desactivar_usuario' usuario.id_usuario %}" class="btn btn-danger" id="btn-salir">Aceptar</button>
    </div>
</div>