<div class="modal-content">
    <!-- Contenido de la modal -->
    <div class="modal-header">
        <h5 class="modal-title">Modificar rol usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Selecciona un rol </p>
    </div>
    <form hx-post="{% url 'modificarRol' usuario.id_usuario %}" method="POST" enctype="multipart/form-data" name="formeditusu" id="formeditusu">
        {% csrf_token %}
        <select name="roles" id="roles" class="form-select text-capitalize" required>
            <option disabled value="">Seleccione un rol</option>
            {% for rol in roles %}
            {% if rol.id_rol == usuario.fk_id_rol_id %}
            <option value="{{ usuario.fk_id_rol_id }}" selected>{{ usuario.fk_id_rol.nombre_rol }}</option>
            {% else %}
            <option value="{{ rol.id_rol}}">{{ rol.nombre_rol }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <div class="modal-body">
            <p>Estas seguro de que quieres cambiar el rol a este usuario?</p>
        </div>
        <div class="modal-footer">
            <span id="grupo-id"></span>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-danger" id="btn-salir">Aceptar</button>
        </div>
    </form>
</div>