{% extends "base/base.html" %}
{% block title %}Domo Chicken - La mejor calidad{% endblock %}
{% block template %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="static/css/carrito.css">
</head>

<body>
  <div class="alert alert-primary" role="alert">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="row" colspan="3" class="text-center">CARRITO</th>
          </tr>
          <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">PRECIO</th>
          </tr>
        </thead>
        <tbody>
          {% if request.session.carrito.items %}
          {% for key, value in request.session.carrito.items %}
          <tr>
            <td>{{ value.nombre }}</td>
            <td>{{ value.precio }}</td>
            <td>
              {{ value.acumulado }}
            </td>
            <td>
              <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-dark badge-dark" data-id="{{ value.producto_id }}">+</a>
              <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark badge-dark" data-id="{{ value.producto_id }}">-</a>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="3">
              <div class="alert alert-danger text-center">Sin Productos</div>
            </td>
          </tr>
          {% endif %}
          <tr>
            <th scope="row">Total:</th>
            <td colspan="2">$ {{ total_carrito }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
  </div>
  <div class="row text-center">
    <div class="col-6"><a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a></div>
    <a href="{% url 'guardarPedido' total_carrito %}" class="btn btn-success" id="guardar-btn">Guardar</a>
  </div>
  {% endblock %}
</body>

</html>

