{% extends "base/base.html" %}
{% block title %}Domo Chicken - La mejor calidad{% endblock %}
{% block template %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static/css/carrito.css">
</head>
<body>
    <div class="master-container">
        <div class="card cart">
          <label class="title">Tu Carrito</label>
          <div class="products">
            <div class="product">
              <div>
                <span>Cheese Burger</span>
                <p>Extra Spicy</p>

              </div>
              <div class="quantity">
                <button>
                  <svg fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" stroke="#47484b" d="M20 12L4 12"></path>
                  </svg>
                </button>
                <label>2</label>
                <button>
                  <svg fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" stroke="#47484b" d="M12 4V20M20 12H4"></path>
                  </svg>
                </button>
              </div>
              <label class="price small">$23.99</label>
            </div>
          </div>
        </div>
      
        <div class="card coupons">
          <label class="title">Apply coupons</label>
          <form class="form">
              <input type="text" placeholder="Apply your coupons here" class="input_field">
              <button>Apply</button>
          </form>
        </div>
      
        <div class="card checkout">
          <label class="title">Checkout</label>
          <div class="details">
            <span>Your cart subtotal:</span>
            <span>47.99$</span>
            <span>Discount through applied coupons:</span>
            <span>3.99$</span>
            <span>Shipping fees:</span>
            <span>4.99$</span>
          </div>
          <div class="checkout--footer">
            <label class="price"><sup>$</sup>57.99</label>
            <button class="checkout-btn">Checkout</button>
          </div>
        </div>
      </div>
      {% endblock %}
</body>
</html>
