{% extends "base/base.html" %}
{% block css %}
<link rel="stylesheet" href="../static/css/catalogo.css">
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block title %}Domo Chicken - La mejor calidad{% endblock %}

{% block template %}

    <div class="centrarT">
        <h1>Nuestro Catálogo de productos</h1>
    </div>
    <div class="container">
        
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Producto 1">
            <h2>Producto 1</h2>
            <p>Descripción corta del producto.</p>
            <p class="price">$99.99</p>
            <button type="button">
                <span>Añadir al Carrito</span>
            </button>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Producto 2">
            <h2>Producto 2</h2>
            <p>Descripción corta del producto.</p>
            <p class="price">$49.99</p>
            <button type="button">
                <span>Añadir al Carrito</span>
            </button>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Producto 3">
            <h2>Producto 3</h2>
            <p>Descripción corta del producto.</p>
            <p class="price">$24.99</p>
            <button type="button">
                <span>Añadir al Carrito</span>
            </button>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Producto 4">
            <h2>Producto 4</h2>
            <p>Descripción corta del producto.</p>
            <p class="price">$99.99</p>
            <button type="button">
                <span>Añadir al Carrito</span>
            </button>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Producto 5">
            <h2>Producto 5</h2>
            <p>Descripción corta del producto.</p>
            <p class="price">$99.99</p>
            <button type="button">
                <span>Añadir al Carrito</span>
            </button>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Producto 6">
            <h2>Producto 6</h2>
            <p>Descripción corta del producto.</p>
            <p class="price">$99.99</p>
            <button type="button">
                <span>Añadir al Carrito</span>
            </button>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Producto 7">
            <h2>Producto 7</h2>
            <p>Descripción corta del producto.</p>
            <p class="price">$99.99</p>
            <button type="button">
                <span>Añadir al Carrito</span>
            </button>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Producto 8">
            <h2>Producto 8</h2>
            <p>Descripción corta del producto.</p>
            <p class="price">$99.99</p>
            <button type="button">
                <span>Añadir al Carrito</span>
            </button>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Producto 9">
            <h2>Producto 9</h2>
            <p>Descripción corta del producto.</p>
            <p class="price">$99.99</p>
            <button type="button">
                <span>Añadir al Carrito</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}
</body>

</html>