{% extends "base/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/stylecocinero.css">
{% endblock %}
{% block title %}Domo Chicken - Panel de control de cocinero{% endblock %}
{% block template %}
<!--PATH DE OLAS BLANCAS PARTE SUPERIOR-->
<div class="container text-white">
    <h1 class="text-center" style="margin: 40px 0px 100px;">Pedidos a Preparar</h1>
    {% if pedido %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ORDEN PEDIDO</th>
                    <th class="text-center">FECHA</th>
                    <th>PRODUCTOS</th>
                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pedidos in pedido %}
                <tr>
                    
                    <td>{{ pedidos.orden_pedido }}</td>
                    <td class="text-center">{{ pedidos.fecha|date:"d/m/Y - H:i" }}</td>
                    <td class="text-capitalize">
                        {% for detalles in detalle %}
                        {% if pedidos.id_pedido == detalles.fk_id_pedido %}
                        {% for productos in producto %}
                        {% if productos.id_producto == detalles.fk_id_productos %}
                        {{ productos.nombre_producto }}{% if not forloop.last %} <br> {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </td> 
                    <td class="d-flex align-items-center justify-content-center">
                        <a href="{% url 'estado_cocinero' pedidos.id_pedido %}"
                        type="button" class="btn btn-success my-btn">
                       Pasar a Despacho
                    </a>
                    </td>
                    

                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="fw-bold text-center" style="margin-top: 100px;">Todavía no posee pedidos para entregar...</div>
    {% endif %}
</div>

{% block js %}
<script src="/../static/js/cocinero.js"></script>
{% endblock %}
{% endblock %}