{% extends "base/base_admin.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/styleadmin.css">
{% endblock %}
{% block title %}Domo Chicken - Panel de administración{% endblock %}
{% block template %}
<div class="container">


    <h1 class="text-white text-center" style="margin: 20px 0px 10px;">¡Bienvenido al Panel de Administración!</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 columnas">
                <div class="card color-borde-1 shadow h-100 py-2">
                    <div class="titulo-card fw-bold"><i class="bi bi-cash-coin"></i> GANANCIAS MENSUALES</div>
                    <div class="desc fw-bold">$ {{ganancias_mes_actual}}</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 columnas">
                <div class="card color-borde-2 shadow h-100 py-2">
                    <div class="titulo-card fw-bold"><i class="bi bi-receipt"></i> VENTAS MENSUALES</div>
                    <div class="desc fw-bold">{{ventas_mes_actual}} ventas realizadas.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-white text-center titulo" style="margin-bottom: 10px;">Acceso rápido</h2>
        <div class="row">
            <div class="col-12 columnas">
                <div class="card h-100 py-2 text-center">
                    <a href="{% url 'productos' %}" style="text-decoration: none; color: #000;">
                        <p class="fw-bold align-items-start titulo-card"><i class="bi bi-box2 "></i> PRODUCTOS
                        </p>
                        <p class="desc">
                            Productos actuales de la tienda. <br>
                            Solicitudes de stock, agregar, modificar y/o eliminar un producto.
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 columnas">
                <div class="card h-100 py-2 text-center">
                    <a href="{% url 'proveedores' %}" style="text-decoration: none; color: #000;">
                        <p class="fw-bold align-items-start titulo-card"><i class="bi bi-truck"></i> PROVEEDORES </p>
                        <p class="desc">
                            Proveedores de los productos de la tienda. <br>
                            Lista de solicitudes, agregar, modificar, desactivar y/o activar un proveedor.
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-6 columnas">
                <div class="card h-100 py-2 text-center">
                    <a href="{% url 'usuarios' %}" style="text-decoration: none; color: #000;">

                        <p class="fw-bold align-items-start titulo-card"><i class="bi bi-people"></i> USUARIOS </p>
                        <p class="desc">
                            Lista de usuarios y empleados de la tienda. <br>
                            Agregar, modificar, desactivar y/o activar un usuario o empleado.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="curved-div">
    <svg viewBox="0 0 1440 319">
        <path fill="#fff" fill-opacity="1"
            d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
</div>
{% block js %}
<link rel="stylesheet" href="../static/js/sidebar.js">
{% endblock %}

{% endblock %}