{% extends "base/base.html" %}
{% block css %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block title %}Domo Chicken - La mejor calidad{% endblock %}
{% block template %}

<!--Imágenes en Carousel-->
<div id="carouselExampleAutoplaying" class="carousel c slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../static/img/carousel.png" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images8.alphacoders.com/405/405706.jpg" class="d-block w-100 " alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <i class="bi bi-caret-left-fill" style="font-size: 55px;"></i>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <i class="bi bi-caret-right-fill" style="font-size: 55px;"></i>
        <span class="visually-hidden">Next</span>
    </button>
</div>  
<section class="quienes_somos">
    <div class="container">
        <h1 class="text-center">¿Quiénes somos?</h1>
        <div class="row">
            <div class="col-6 d-flex align-items-center justify-content-center text-center">
                <p style="padding: 7%;">
                    Domochicken está dirigido a todo tipo de persona que valore la buena comida como niños, jóvenes,
                    adultos y
                    sobre todo a cualquier persona que quiera disfrutar de momentos únicos junto a todos sus seres
                    queridos. <br style="margin-bottom: 3%;">
                    La idea de la marca es crear una excelente experiencia de compra con una atención rápida y
                    personalizada.
                    <br style="margin-bottom: 3%;">
                    Nuestro mix de sabores hace que la familia y los amigos puedan compartir un momento de unión e
                    inolvidable ya que nuestros menú se preparan con dedicación y pasión.
                </p>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
                <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzU3YzBhZDdjMjVjMDY1MWMwOGNmN2QzMmVkNzY1NzZkMGE3YWIyYSZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PXM/J46QcwhXBEVfmz4Qj8/giphy.gif"
                    class="" style="max-height: 70vh;" alt="">
            </div>
        </div>
    </div>
</section>

<section class="catalogo">
    <h1 class="text-center">Catálogo</h1>
    <div class="row ">
        {% for x in producto %}
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-6 col-6 d-flex align-items-center justify-content-center">
            <div class="card" style="max-width: 350px;">
                {% if x.imagenProd %}
                
                    <img src="{{x.imagenProd.url}}" alt="Error :D" id="img2" class="imagen-fija">
                
                {% else %}
                    <img src="../media/Not_found.png" alt="Error :D" id="img2" class="imagen-fija">
                
                {% endif %}
                <div class="card-body">
                    <div class="card-title">{{x.nombre_producto}}</div>
                    <div class="card-text text-truncate">{{x.descripcion}}.</div>
                    <p class="price card-text text-center">${{x.precio}}</p>
                </div>
                {% if usuario.fk_id_rol_id == 5 %}
                <button href="{% url 'agregar_producto' x.id_producto %}" type="button " class="boton">
                    Añadir al Carrito
                </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <a href="{% url 'catalogo' %}" class="ir-catalogo text-center">
            Catálogo Completo
        </a>
    </div>
</section>

<section id="contacto">
    <div class="container">
        <h1>Síguenos y contáctanos</h1>
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn text-white btn-floating m-1 botones" style="background-color: #4267B2;" href="#!"
                    role="button"><i class="bi bi-facebook "></i></a>

                <!-- WhatsApp -->
                <a class="btn text-white btn-floating m-1 botones" style="background-color: #25D366" href="#!"
                    role="button"><i class="bi bi-whatsapp "></i></a>

                <!-- Instagram -->
                <a class="btn text-white btn-floating m-1 instagram botones" href="#!" role="button"><i
                        class="bi bi-instagram "></i></a>
            </section>
        </div>
    </div>
</section>
<section id="ubicacion">
    <div class="container">
        <h1>Ubicación</h1>
    </div>
    <div class="ratio ratio-21x9" style="--bs-aspect-ratio: 20.8571428571%">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.292217165414!2d-70.68075902453886!3d-33.36343629306088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c7025c925e0f%3A0x7f2f6a657c08d14a!2sDuoc%20UC%3A%20Sede%20Plaza%20Norte!5e0!3m2!1ses-419!2scl!4v1681414804931!5m2!1ses-419!2scl"
            allowfullscreen></iframe>
    </div>
</section>

{% block footer %}
<footer class="pie-pagina " id="contacto">
    <div class="container">
        <div class="grupo-1 text-center">
            <div class="row">
                <div class="col">
                    <div class="box text-center">
                        <h2>Sobre nosotros</h2>
                        <ul class="lista">
                            <li>Estudiantes de Duoc realizando su proyecto de titulación</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>HSC Componentes</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
{% endblock %}
{% endblock %}