{% extends "base/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block title %}Domo Chicken - La mejor calidad{% endblock %}
{% block template %}

<div class="container-fluid">
    <h1 class="titulo">¡Bienvenido {{ usuario.fk_id_rol_id.nombre_rol }}!</h1>
    <div class="row">
        <div class="col-md-6 col-sm-12 columnas">
            <div class="card color-borde-1 shadow h-100 py-2">
                <div class="titulo-card fw-bold"><i class="fa-solid fa-coins"></i> GANANCIAS MENSUALES</div>
                <div class="desc">$3.450.000,00</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 columnas">
            <div class="card color-borde-2 shadow h-100 py-2">
                <div class="titulo-card fw-bold"><i class="fa-solid fa-calendar"></i> VENTAS REALIZADAS</div>
                <div class="desc">200 ventas realizadas este mes.</div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="titulo">Acceso rápido</h2>
    {% if usuario.fk_id_rol_id == 1 or usuario.fk_id_rol_id == 2 %}
    <div class="row">
        <div class="col-6 columnas">
            <div class="card h-100 py-2">
                <a href="{% url 'agregarProd' %}" style="text-decoration: none; color: #000;">
                    <p class="align-items-start fw-bold titulo-card "><i
                            class="fa-solid fa-plus align-items-end iconos"></i> Agregar un nuevo producto </p>
                    <p class="desc">¡Presione acá si desea agregar un nuevo producto a la tienda!</p>
                </a>
            </div>
        </div>
        <div class="col-6 columnas">
            <div class="card h-100 py-2">
                <a href="{% url 'modOrDeleteIndex' %}" style="text-decoration: none; color: #000;">
                    <p class="fw-bold align-items-start titulo-card"><i
                            class="fa-solid fa-arrow-right-arrow-left iconos"></i> Modificar y/o Eliminar un producto
                    </p>
                    <p class="desc">¡Presione acá si desea modificar cualquier producto de la tienda (También para
                        aplicar descuentos)!</p>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if usuario.fk_id_rol_id == 1 %}
    <div class="row">
        <div class="col-6 columnas">
            <div class="card h-100 py-2">
                <a href="#" style="text-decoration: none; color: #000;">
                    <p class="align-items-start fw-bold titulo-card "><i class="bi bi-gear"></i></i> Dar o quitar
                        permisos </p>
                    <p class="desc">¡Presione acá si desea Dar o quitar permisos a algun empleado!</p>
                </a>
            </div>
        </div>

        <div class="col-6 columnas ">
            <div class="card h-100 py-2">
                <a href="#" style="text-decoration: none; color: #000;">
                    <p class="fw-bold align-items-start titulo-card"><i class="bi bi-book"></i> Modificar y/o Eliminar
                        una receta</p>
                    <p class="desc">¡Presione acá si desea modificar cualquier receta!</p>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if usuario.fk_id_rol_id == 1  %}
    <div class="row">
        <div class="col-6 columnas">
            <div class="card h-100 py-2">
                <a href="{% url 'Usuario_admin' %}" style="text-decoration: none; color: #000;">
                    <p class="align-items-start fw-bold titulo-card "><i class="bi bi-person-circle"></i></a></i> Ver Usuarios </p>
                    <p class="desc">¡Presione acá si desea ver los usuarios del programa!</p>
                </a>
            </div>
        </div>
        <div class="col-6 columnas">
            <div class="card h-100 py-2">
                <a href="{% url 'stockIndex' %}" style="text-decoration: none; color: #000;">
                    <p class="fw-bold align-items-start titulo-card"><i class="bi bi-truck"></i> Ver stock productos</p>
                    <p class="desc">¡Presione acá si desea ver el stock productos!</p>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if usuario.fk_id_rol_id == 2 or usuario.fk_id_rol_id == 4 %}
    <div class="row">
        <div class="col-12 columnas">
            <div class="card h-100 py-2">
                <a href="#" style="text-decoration: none; color: #000;">
                    <p class="align-items-start fw-bold titulo-card "><i class="bi bi-eye"></i> Ver Recetas </p>
                    <p class="desc">¡Presione acá si desea ver alguna receta!</p>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}