{% extends "base/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/stylecocinero.css">
{% endblock %}
{% block title %}Domo Chicken - Panel de control de cocinero{% endblock %}
{% block template %}
<!--PATH DE OLAS BLANCAS PARTE SUPERIOR-->
<div class="container text-white">
    <h1 class="text-center" style="margin: 40px 0px 100px;">Pedidos a Preparar</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ORDEN PEDIDO</th>
                    <th class="text-center">FECHA</th>
                    <th>PRODUCTOS</th>
                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pedidos in pedido %}
                <tr>

                    <td>{{ pedidos.orden_pedido }}</td>
                    <td class="text-center">{{ pedidos.fecha|date:"d/m/Y - H:i" }}</td>
                    <td class="text-capitalize">
                        {% for detalles in detalle %}
                        {% if pedidos.id_pedido == detalles.fk_id_pedido %}
                        {% for productos in producto %}
                        {% if productos.id_producto == detalles.fk_id_productos %}
                        {{ productos.nombre_producto }}{% if not forloop.last %} <br> {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="d-flex align-items-center justify-content-center">
                        <a href="{% url 'estado_cocinero' pedidos.id_pedido %}" type="button"
                            class="btn btn-success my-btn">
                            Pasar a Despacho
                        </a>
                    </td>



                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="curved-div">
    <svg viewBox="0 0 1440 319">
        <path fill="#fff" fill-opacity="1"
            d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
</div>
<script>
    $(document).ready(function () {
        setInterval(actualizarTabla, 1000); // Actualiza la tabla cada 5 segundos (ajusta el intervalo según tus necesidades)
        function actualizarTabla() {
            $.ajax({
                url: '/actualizar_tabla_cocinero/',  // Ruta a tu vista 'actualizar_tabla_cocinero'
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    var datosTabla = response.datos;
                    // Actualiza la tabla con los nuevos datos
                    actualizarDatosTabla(datosTabla);
                },
                error: function (xhr, errmsg, err) {
                    console.log(errmsg); // Manejo de errores
                }
            });
        }

        function actualizarDatosTabla(datosTabla) {
            var tbody = $('.table tbody');
            tbody.empty(); // Limpia el contenido actual de la tabla

            for (var i = 0; i < datosTabla.length; i++) {
                var fila = '<tr>' +
                    '<td>' + datosTabla[i].orden_pedido + '</td>' +
                    '<td class="text-center">' + datosTabla[i].fecha + '</td>' +
                    '<td class="text-capitalize">' + datosTabla[i].productos + '</td>' +
                    '<td class="d-flex align-items-center justify-content-center">' +
                    '<a href="' + datosTabla[i].url + '" type="button" class="btn btn-success my-btn">Pasar a Despacho</a>' +
                    '</td>' +
                    '</tr>';
                tbody.append(fila); // Agrega la fila a la tabla
            }
        }
        function asignarRepartidor() {
            $.ajax({
                url: '/asignar_repartidor/', // Ruta de la URL que mapea a la vista asignar_repartidor
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data.mensaje);
                    // Aquí puedes realizar cualquier acción adicional después de recibir la respuesta
                },
                error: function (xhr, errmsg, err) {
                    console.log(errmsg);
                }
            });
        }
        // Llamar a la función cada 5 segundos
        setInterval(asignarRepartidor, 1000);
    });
</script>
{% block js %}
<script src="/../static/js/cocinero.js"></script>
{% endblock %}
{% endblock %}