{% for x in usuarios %}
<tr>
    <td>{{ x.nombre_usuario }}</td>
    <td>{{ x.apellido_usuario }}</td>
    <td>{{ x.correo }}</td>
    <td>{{ x.fk_id_rol.nombre_rol }}</td> <!-- CORREGIDO -->
    {% if x.u_is_active == 1 %}
    <td>Activo</td>
    {% endif %}
    {% if x.u_is_active == 0 %}
    <td>Desactivado</td>
    {% endif %}
    {% if x.u_is_active == 1 %}
    <td><button type="button" hx-get="{% url 'ua_desactivar_usuario' x.id_usuario %}" hx-target="#dialog"
            class="boton btn-abrir-modal">
            Desactivar
        </button></td>
    {% endif %}
    {% if x.u_is_active == 0 %}
    <td><button type="button" hx-get="{% url 'ua_activar_usuario' x.id_usuario %}" hx-target="#dialog"
            class="boton btn-abrir-modal-activar">
            Activar
        </button></td>
    {% endif %}
    {% if x.row_status == 1 %}
    <td><button type="button" hx-get="{% url 'ua_eliminar_usuario' x.id_usuario %}" hx-target="#dialog"
            class="boton btn-abrir-modal-eliminar">
            Eliminar
        </button></td>
    {% endif %}
    <td>
        <button type="button" class="boton btn-abrir-modal-rol">
            Modificar Rol
        </button>
    </td>
    <!-- MODAL PARA MODIFICAR ROL USUARIO-->
    <div id="modalRol" class="modal">
        <div class="modal-dialog">
        </div>
    </div>
</tr>

{% endfor %}