{% extends "base/base_admin.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="../static/css/agregar_prov.css">
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Domo Chicken - Modificar proveedor{% endblock %}
{% block template %}


<h1 class="text-white text-center" style="margin-bottom: 10px;">Modificar proveedor</h1>

<!--Formulario Modificar Nuevo-->

<form method="POST" enctype="multipart/form-data" id="form_proveedor" class="form" name="form_proveedor">
    {% csrf_token %}
    {{form|crispy}}
    
    <button class="btn btn-primario" type="submit">Modificar</button>
</form>
<div class="curved-div">
    <svg viewBox="0 0 1440 319">
        <path fill="#fff" fill-opacity="1"
            d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
</div>
{% endblock %}