{% extends "base/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block title %}Domo Chicken - La mejor calidad{% endblock %}
{% block template %}
<!-- MODAL PARA DESACTIVAR PRODUCTO-->
<div id="myModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Contenido de la modal -->
            <div class="modal-header">
                <h5 class="modal-title">Desactivar producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Estas seguro de que quieres desactivar a este producto?</p>
            </div>
            <div class="modal-footer">
                <span id="grupo-id"></span>
                <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cerrar</button>
                <a href="#" class="btn btn-danger" id="btn-salir">Salir</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1>Algunos de nuestros productos</h1>
    <div class="row">
        {% for x in producto %}
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-6 col-6">
            <div class="card mb-3" style="max-width: 450px;">
                <div class="row g-0">
                    {% if x.imagenProd %}
                    <div class="col-md-4">
                        <img src="{{x.imagenProd.url}}" alt="Error :D" id="img2" class="img-fluid">
                    </div>
                    {% else %}
                    <div class="col-md-4">
                        <img src="../media/Not_found.png" alt="Error :D" id="img2" class="img-fluid">
                    </div>
                    {% endif %}
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{x.nombre_producto}} </h5>
                            <p class="card-text text-truncate">
                                {{x.descripcion}}
                            </p>
                            <p class="card-text"><small class="fw-bold"> Precio: ${{x.precio}}</small></p>
                        </div>
                    </div>
                    <a href="{% url 'modificarProducto' x.id_producto%}"
                        class="btn btn-primary my-btn">Modificar</a>
                    {% if x.prod_is_active == 1 %}
                    <button href="" data-prod_is_active="{{x.id_producto}}" type="button"
                            class="btn btn-primary my-btn btn-danger btn-abrir-modal">
                            Desactivar
                    </button>
                    {% endif %}
                    {% if x.prod_is_active == 0 %}
                    <button href="" data-prod_is_active="{{x.id_producto}}" type="button"
                            class="btn btn-success my-btn btn-abrir-modal-activar">
                            Activar
                    </button>
                    {% endif %}
                    {% if x.row_status == 1 %}
                    <button href="" data-row_status="{{x.id_producto}}" type="button"
                            class="btn btn-primary my-btn btn-danger btn-abrir-modal-eliminar">
                            Eliminar
                    </button>
                    {% endif %}
                </div>
            </div> 
        </div>
        {% endfor %}
    </div>
</div>
<!-- MODAL PARA DESACTIVAR USUARIO-->
<div id="modalDesactivar" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Contenido de la modal -->
            <div class="modal-header">
                <h5 class="modal-title">Desactivar producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Estas seguro de que quieres desactivar este producto?</p>
            </div>
            <div class="modal-footer">
                <span id="grupo-id"></span>
                <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cerrar</button>
                <a href="#" class="btn btn-danger" id="btn-desactivar">Aceptar</a>
            </div>
        </div>
    </div>
</div>
<!-- MODAL PARA ACTIVAR PRODUCTO-->
<div id="modalActivar" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Contenido de la modal -->
            <div class="modal-header">
                <h5 class="modal-title">Activar producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Estas seguro de que quieres activar  este producto?</p>
            </div>
            <div class="modal-footer">
                <span id="grupo-id"></span>
                <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cerrar</button>
                <a href="#" class="btn btn-danger" id="btn-activar-prod">Aceptar</a>
            </div>
        </div>
    </div>
</div>
<!-- MODAL PARA ELIMINAR PRODUCTO-->
<div id="modalEliminarProd" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Contenido de la modal -->
            <div class="modal-header">
                <h5 class="modal-title">Eliminar producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Estas seguro de que quieres eliminar a este producto?</p>
            </div>
            <div class="modal-footer">
                <span id="grupo-id"></span>
                <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cerrar</button>
                <a href="#" class="btn btn-danger" id="btn-eliminar-prod">Aceptar</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        //MODAL DE DESACTIVAR
        $(".btn-abrir-modal").click(function () {
            // Mostrar la modal correspondiente al botón de eliminar
            $("#modalDesactivar").modal("show");
        });
        $(".btn-abrir-modal").click(function () {
            var prod_is_active = $(this).data("prod_is_active");
            var desactivar = "/desactivar_producto/" + prod_is_active + "/";
            $("#btn-desactivar").attr("href", desactivar);
        });
        $(".close").click(function () {
            // Mostrar la modal correspondiente al botón de eliminar
            $("#modalDesactivar").modal("hide");
        });


        //MODAL DE ACTIVAR
        $(".btn-abrir-modal-activar").click(function () {
            // Mostrar la modal correspondiente al botón de eliminar
            $("#modalActivar").modal("show");
        });
        $(".btn-abrir-modal-activar").click(function () {
            var prod_is_active = $(this).data("prod_is_active");
            var activar = "/activar_producto/" + prod_is_active + "/";
            $("#btn-activar-prod").attr("href", activar);
        });
        $(".close").click(function () {
            // Mostrar la modal correspondiente al botón de eliminar
            $("#modalActivar").modal("hide");
        });
        //MODAL DE ELIMINAR
        $(".btn-abrir-modal-eliminar").click(function () {
            // Mostrar la modal correspondiente al botón de eliminar
            $("#modalEliminarProd").modal("show");
        });
        $(".btn-abrir-modal-eliminar").click(function () {
            var row_status = $(this).data("row_status");
            var eliminar = "/eliminarProducto/" + row_status + "/";
            $("#btn-eliminar-prod").attr("href", eliminar);
        });
        $(".close").click(function () {
            // Mostrar la modal correspondiente al botón de eliminar
            $("#modalEliminarProd").modal("hide");
        });
    });
</script>
{% endblock %}