{% extends "base/base_admin.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="../static/css/modproducto.css">
{% endblock %}
{% block title %}Domo Chicken - La mejor calidad{% endblock %}
{% block template %}
<!-- MODAL PARA DESACTIVAR PRODUCTO-->
<h1 class="text-white text-center" style="margin-bottom: 10px;">Productos</h1>
<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center" hx-get="{% url 'lista_productos' %}" hx-trigger="load, actualizar from:body" hx-target="this">
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col d-flex align-items-center justify-content-center">
            <a href="{% url 'agregar_producto_nuevo' %}" class="btn btn-primary" style="margin-right: 5px;">Agregar</a>
            <a href="{% url 'stock_productos' %}" class="btn btn-primary">Stock</a>
        </div>
    </div>
</div>

<div class="curved-div">
    <svg viewBox="0 0 1440 319">
        <path fill="#fff" fill-opacity="1"
            d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
</div>
{% endblock %}