{% extends "base/base.html" %}
{% block css %}
<link rel="stylesheet" href="../static/css/carrito.css">
{% endblock %}
{% block title %}Perfil - Domo Chicken{% endblock %}

{% block template %}
<div class="container text-white">
    <h1 class="text-center" style="margin-bottom: 10px;">Pedidos a entregar</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>DIRECCIÓN</th>
                    <th class="text-center">FECHA</th>

                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for pedidos in pedido %}
                    <td>{{ pedidos.descripcion }}</td>
                    <td class="text-center">{{ pedidos.fecha|date:"d/m/Y - H:i" }}</td>
                    <td class="d-flex align-items-center justify-content-center">
                        <button href=""
                        type="button" class="btn btn-success my-btn">
                       Entregar Pedido
                    </button>
                    </td>
                    

                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--
<div class="curved-div">
    <svg viewBox="0 0 1440 319">
        <path fill="#fff" fill-opacity="1"
            d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
</div>
-->
{% endblock %}