{% extends "base/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="../static/css/lista_usuarios.css">
{% endblock %}
{% block title %}Domo Chicken - La mejor calidad{% endblock %}
{% block template %}
<div class="container" style="overflow-x: auto;">
    <h1 class="titulo">Mi Pedido</h1>
    <div class="row">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Descripcion</th>
                    <th class="text-center" scope="col">Estado Del Pedido</th>
                    <th scope="col">Productos</th>
                </tr>
            </thead>
            <!--hx-trigger="load, actualizacion from:body" hx-target="this"-->
            <tbody class="table-group-divider">

                {% for pedidos in pedido %}
                <tr>
                    <td>{{ pedidos.descripcion }}</td>
                    {% for estados in estado %}
                    {% if pedidos.fk_id_estado_id == estados.id_estado %}
                    <td class="text-center">{{ estados.estado}}</td> 
                    {% endif %}
                    {% endfor %}
                    <td style="text-transform: capitalize;">
                        {% for detalles in detalle %}
                        {% if pedidos.id_pedido == detalles.fk_id_pedido %}
                        {% for productos in producto %}
                        {% if productos.id_producto == detalles.fk_id_productos %}
                        {{ productos.nombre_producto }}{% if not forloop.last %} <br> {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}