{% extends "base/base.html" %}
{% block css %}
<!--ACA VA EL CSS-->
<link rel="stylesheet" href="../static/css/solicitud_prov.css">
{% endblock %}
{% block title %}Domo Chicken - Solicitud {% endblock %}
{% block template %}
<div class="container" style="overflow-x: auto;">
    <h1 class="titulo">Solicitudes Pendientes</h1>
    <div class="row ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitud in solicitudes %}
                <tr>
                    <td>{{solicitud.fk_id_proveedor}}</td>
                    <td>{{solicitud.fk_id_producto.nombre_producto}}</td>
                    <td>{{solicitud.cantidad_solicitud}}</td>
                    <td>{{solicitud.estado}}</td>
                    <td>
                        <button href="#" type="button " class="btn btn-primary">
                            Finalizar
                        </button>
                        <button type="button" hx-get="{% url 'sp_mas_info' solicitud.id_solicitud %}" hx-target="#dialog" class="btn btn-secondary">
                            Más información
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}