{% extends "base/base.html" %}
{% block css %}
<!--ACA VA EL CSS-->
{% endblock %}
{% block title %}Domo Chicken - Solicitud {% endblock %}
{% block template %}
<div class="container" style="margin-bottom: 400px;">
    <h1>Solicitudes Pendientes</h1>
    <div class="row ">
        {% for solicitud in solicitudes %}
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-6 col-6 d-flex align-items-center justify-content-center">
            <div class="card" style="max-width: 350px;">
                <div class="card-body">
                    <div class="card-title" style="text-transform: capitalize;">Proveedor: {{solicitud.fk_id_proveedor}}
                    </div>
                    <div class="card-text">Cantidad: {{solicitud.cantidad_solicitud}}</div>
                    <div class="card-text" style="text-transform: capitalize;">Estado: {{solicitud.estado}}</div>

                </div>
                <div class="card-footer">
                    <button href="#" type="button " class="btn btn-primary">
                        Más información
                    </button>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}