{% extends "base/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block title %}Domo Chicken - La mejor calidad{% endblock %}
{% block template %}
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Tipo de usuario</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <!--hx-trigger="load, actualizacion from:body" hx-target="this"-->
            <tbody hx-get="{% url 'lista_usuarios' %}" hx-trigger="load, actualizacion from:body" hx-target="this">
            </tbody>
        </table>
    </div>
</div>

{% endblock %}