body {
    color: #404040;
    font-family: "Merriweather Sans",sans-serif;
    background-image: url(/../../static/img/textura.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo {
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
    margin-top: 50px;
    text-align: center;
}
.btn{
    width: 130px;
}
@media screen and (max-width: 768px) {
    .btn {
        margin-top: 10px;
    }
}



th{
    color: white;
}
td{
    color: white;
}