/*
**********************************************
**********************************************
                    INDEX
**********************************************
**********************************************
*/

.carousel-item img {
    max-height: 80vh;
    padding-bottom: 40px;
    object-fit: cover;
    position: relative;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    z-index: 1000;
    font-size: 18px;
}

.navbar .navbar-brand img {
    max-width: 100px;
}

h1 {
    position: relative;
    margin-bottom: 0;
    font-size: 2.6rem;
    font-weight: bold;
}

section {
    position: relative;
}

.quienes_somos p {
    font-size: 21px;
}
@media screen and (max-width: 700px) {
    .pollo-girando {
        width: 250px;
    }
}
/*

CATALOGO

*/
.catalogo{
    padding-top: 40px;
}
.catalogo {
    background-color: #ececec;
    padding-bottom: 50px;
}

.card {
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    /* padding: 10px; */
    transition: all 0.3s ease;
    margin-top: 50px;
    box-shadow: 20px 28px 36px rgba(0, 0, 0, 0.2);
    
}
.price {
    font-size: 16px;
    font-weight: 700;
}
.card:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
    .card {
        width: 48%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 100%;
    }
}


/*BOTÓN AÑADIR AL CARRITO*/
.boton {
    display: inline-block;
    border-radius: 4px;
    background: var(--main-buttons);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    transition: 0.2s;
    cursor: pointer;
    margin: 5px;
}
.boton:hover,.ir-catalogo:hover {
    background: var(--act-buttons);
}
/*BOTÓN CATÁLOGO COMPLETO*/
.ir-catalogo {
    --text-color: #fff;
    text-decoration: none;
    position: relative;
    border: none;
    background: var(--main-buttons);
    color: var(--text-color);
    padding: 1em;
    margin-top: 10px;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 5px;
    letter-spacing: 1px;
    box-shadow: #ae000091 0px 7px 2px, #000 0px 8px 5px;
}

.ir-catalogo:active {
    top: 4px;
    box-shadow: #ae000091 0px 3px 2px, #000 0px 3px 5px;
}

.catalogo,.ubicacion{
    padding-top: 40px;
}
.ubicacion h1{
    margin-bottom: 50px;
}


/*Footer Fin*/
/*
**********************************************
**********************************************
                INDEX ADMIN
**********************************************
**********************************************
*/

/*Titulo*/
.titulo {
    font-size: 40px;
    color: var(--blanco);
    margin-bottom: 25px;
    margin-top: 25px;

}

/*Filas y columnas*/
.filas {
    color: var(--negro);
    font-size: 20px;
}

.columnas {
    margin-bottom: 20px;
}



.color-borde-1 {
    border-left: 0.25rem solid #2897e0 !important;
    /*Para que el color tenga prioridad*/
}

.color-borde-2 {
    border-left: 0.25rem solid #28eDdd !important;
    /*Para que el color tenga prioridad*/
}

.color-borde-3 {
    border-left: 0.25rem solid #1d41e0 !important;
    /*Para que el color tenga prioridad*/
}

.titulo-card {

    padding: 10px;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    font-size: 20px;
}

.iconos {
    font-size: 22px;
}

.desc {
    padding: 5px;
    font-size: 19px;
    color: var(--negro);
}
/*
**********************************************
**********************************************
                    PROVEEDORES
**********************************************
**********************************************
*/

.fondoP {
    background-image: url(/../../static/img/pollo1.jpg);
}

.tituloP {
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 45px;
    color: white;

}


@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}


/* Animacion de fondo */

.cuerpoP {
    background-image: linear-gradient(135deg, #00b7D4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: cover;
    animation: fanimado 10s infinite;
    height: 100vh;
    background-repeat: no-repeat;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}
.my-btn {
    margin-top: 10px;
    margin-right: 10px;
    padding: 0.25rem 0.5rem;
    text-align: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .my-btn {
      margin: 5px;
    }
  }
.hide {
    display: none;
 }

 