{% extends "base/base.html" %}
{% block css %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Domo Chicken - La mejor calidad{% endblock %}
{% block template %}
<style>

</style>
{% block navbar %}
{% endblock %}
<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 style="margin-top: 50px">Algo salió mal...</h1>
    <img src="https://cdn.dribbble.com/users/19381/screenshots/3471308/dribbble-500-animated.gif" alt="" style="max-width: 450px;">
    <div>Por favor, vuelve a intentarlo más tarde.</div>
</div>
{% endblock %}