

/*fondo de la pagina*/
body {
    background-image: url(/../../static/img/pollo1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*centrado de texto de catalogo*/
.centrarT{
margin-top: 100px;
text-align: center;
}

/*columnas*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    width: 30%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px;
    transition: all 0.3s ease;
    margin-top: 100px;
    box-shadow:  28px 28px 36px #000000;
}

.card:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.card .price {
    font-size: 16px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .card {
        width: 48%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 100%;
    }
}