body {
    color: #404040;
    background-image: url(/../../static/img/textura.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    font-size: 40px;
    color: white;
    margin-bottom: 25px;
    margin-top: 50px;
    text-align: center;

}

.table {
    overflow-x: scroll;
}

.btn {
    width: 120px;
}
