/*
**********************************************
**********************************************
                    INDEX
**********************************************
**********************************************
*/
body {
    font-family: 'Questrial', sans-serif;
}

.carousel-item img {
    max-height: 720px;
    object-fit: cover;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar .navbar-brand img {
    max-width: 100px;
}

@media screen and (min-width: 768px) {
    .navbar-collapse {
        display: flex;

    }

    .navbar .navbar-brand img {
        max-width: 6em;
    }

}

@media screen and (max-width: 576px) {
    .card {
        width: 100%;
    }

}

.iconos-usuario {
    padding-right: 2em;
    font-size: 20px;

}

/* BOTONES DE REDES SOCIALES */
.iconos-usuario a i {
    text-decoration: none !important;
    color: #000 !important;
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.botones {
    border-radius: 10px;
    font-size: 30px;
    filter: drop-shadow(0 0 0.3rem #15111a);
    cursor: pointer;
    transition: all 0.1s ease;
}

.botones:hover {
    border-radius: 10px;
    filter: drop-shadow(0 0 0.6rem #15111a);
    transform: translate(0, 10px);
    clip-path: inset(0% 0 0% 0 round 10px);
}

.pie-pagina {
    width: 100%;
    background-color: rgb(182, 13, 13);
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    background-color: rgb(233, 236, 6);
}

.pie-pagina .grupo-2 {
    background-color: rgb(0, 0, 0);
    padding: 15px 10px;
    text-align: center;
    color: #fff;

}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

.redes-sociales {
    margin-bottom: 10px;
}

.lista {
    color: #fff;
    list-style: none;
    text-align: left;
}

.img-foot {
    width: 300px;
}

.cerrar {
    color: blue;
}

footer {
    position: absolute, bottom;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
}

/*Footer Fin*/
/*
**********************************************
**********************************************
                INDEX ADMIN
**********************************************
**********************************************
*/

/*Titulo*/
.titulo {
    font-size: 40px;
    color: var(--blanco);
    margin-bottom: 25px;
    margin-top: 25px;

}

/*Filas y columnas*/
.filas {
    color: var(--negro);
    font-size: 20px;
}

.columnas {
    margin-bottom: 20px;
}

.card {
    padding: 10px;
    word-wrap: break-word;
}

.color-borde-1 {
    border-left: 0.25rem solid #2897e0 !important;
    /*Para que el color tenga prioridad*/
}

.color-borde-2 {
    border-left: 0.25rem solid #28eDdd !important;
    /*Para que el color tenga prioridad*/
}

.color-borde-3 {
    border-left: 0.25rem solid #1d41e0 !important;
    /*Para que el color tenga prioridad*/
}

.titulo-card {

    padding: 10px;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    font-size: 20px;
}

.iconos {
    font-size: 22px;
}

.desc {
    padding: 5px;
    font-size: 19px;
    color: var(--negro);
}

/*
**********************************************
**********************************************
                    PROVEEDORES
**********************************************
**********************************************
*/

.fondoP {
    background-image: url(/../../static/img/pollo1.jpg);
}

.tituloP {
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 45px;
    color: white;

}


@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}


/* Animacion de fondo */

.cuerpoP {
    background-image: linear-gradient(135deg, #00b7D4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: cover;
    animation: fanimado 10s infinite;
    height: 100vh;
    background-repeat: no-repeat;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}
.my-btn {
    margin-top: 10px;
    margin-right: 10px;
    padding: 0.25rem 0.5rem;
    text-align: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .my-btn {
      margin: 5px;
    }
  }
.hide {
    display: none;
 }